head 
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')


  // =====BOX ICONS=====
  link(href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet')
  title Sophie Brown

  // ===== HEADER =====
header.l-header
  nav.nav.bd-grid
    div
      a.nav__logo(href='#home') Sophie
    #nav-menu.nav__menu
      ul.nav__list
        li.nav__item
          a.nav__link.active(href='#home') Home
        li.nav__item
          a.nav__link(href='#about') About
        li.nav__item
          a.nav__link(href='#skills') Skills
        li.nav__item
          a.nav__link(href='#work') Work
        //- li.nav__item
        //-   a.nav__link(href='#contact') Contact
    #nav-toggle.nav__toggle
      i.bx.bx-menu
main.l-main
  // ===== HOME =====
  section#home.home.bd-grid
    .home__data
      h1.home__title
        | Hi 👋
        br
        | I am 
        span.home__title-color Sophie,
        br
        | Software Engineer
      //- a.button(href='#') Contact
    .home__social
      a.home__social-icon(href='https://www.linkedin.com/in/sophie-brown-7a1b2586/')
        i.bx.bxl-linkedin
      a.home__social-icon(href='https://github.com/sofyloafy')
        i.bx.bxl-github
    .home__img
      img(src='assets/img/Me.png' alt='')

  // ===== ABOUT =====
section#about.about.section
  h2.section-title About
  .about__container.bd-grid
    .about__img
      img(src='assets/img/about.png' alt='')
    div
      h2.about__subtitle Hey there,
      p.about__text
        | I'm Sophie, a recent graduate of Makers, and former pastry chef 🍰 before making the decision to reinvent myself as a developer 💻 It turns out that maybe they aren't so different: 
        br 
        | Patterns and formulas ✅
        br
        | Creative problem-solving ✅
        br
        | Well-thought out design principles ✅
        br
        br
        | Who would have thought! 
        a(href='mailto: sophiebrown438@gmail.com') Get in touch 
        | if you fancy either talking cake or code (or both!)

  // ===== SKILLS =====
  section#skills.skills.section
    h2.section-title Skills
    .skills__container.bd-grid
      div
        h2.skills__subtitle Professional Skills
        p.skills__text
          |  I'm constantly improving and refining my skills of test-driven development, and using agile methods with CI/CD. I strive to write high-quality, well-tested code that's easy to maintain and scale. 
        .skills__data
          .skills__names
            i.bx.bxl-javascript.skills__icon
            span.skills__name Javascript
          .skills__bar.skills__html
          div
            span.skills__percentage 95%
        .skills__data
          .skills__names
            i.bx.bx-diamond.skills__icon
            span.skills__name Ruby
          .skills__bar.skills__css
          div
            span.skills__percentage 85%
        .skills__data
          .skills__names
            i.bx.bxl-html5.skills__icon
            span.skills__name HTML5
          .skills__bar.skills__js
          div
            span.skills__percentage 65%
        .skills__data
          .skills__names
            i.bx.bxl-css3.skills__icon
            span.skills__name CSS3
          .skills__bar.skills__ux
          div
            span.skills__percentage 85%
      div
  // ===== WORK =====
  section#work.work.section
    h2.section-title Work
    .work__container.bd-grid
      .work__img
        a(href="https://vimvincible.netlify.app/")
          img(src='assets/img/Game.png' alt='')
          .label A Vim-inspired game in React with a back-end API
      .work__img
        a(href="https://react-tetris-3000.netlify.app/")
          img(src='assets/img/Joystick.png' alt='')
          .label A Tetris React game
      .work__img
        a(href="https://acebook-brainaics.herokuapp.com/")
          img(src='assets/img/fb.png' alt='')
          .label A 'Facebook' web app, with a live chatroom page
  //-  // ===== CONTACT =====
  //- section#contact.contact.section
  //-   h2.section-title Contact
  //-   .contact__container.bd-grid
  //-     form.contact__form(action='mailto:sophiebrown438@gmail.com')
  //-       input.contact__input(type='text' placeholder='Name')
  //-       input.contact__input(type='mail' placeholder='Email')
  //-       textarea.contact__input(name='' id='' cols='0' rows='10')
  //-       input.contact__button.button(type='button' value='Send')
  // ===== FOOTER =====
  footer.footer
    p.footer__title Sophie
    p &copy; 2020 copyright, all rights reserved
// ===== SCROLL REVEAL =====
script(src='https://unpkg.com/scrollreveal')

script(src='assets/main.js')
